* {
    box-sizing: border-box;
}

.myWorkBlock{
    background-color: #be89f8;
}

.myWorkContainer{
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.myWorkTitle{
    background-color: #cccccc;
}

.myWorks{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 629px) {
    .myWorks {
        justify-content: space-between;
    }
}