@import "src/common/Styles/sass/variables";

.background {
  min-height: 600px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #111;

  .header {
    background-color: transparent;
    transition: 0.2s;

    width: 100%;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 80px;
    display: flex;
    align-items: center;

    .headerContainer {
      height: 25%;
      width: 82%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      -webkit-box-align: center !important;

      .headerTitle {
        color: $bgColor;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: -0.04em;
        line-height: 1;
        text-transform: capitalize;
        margin: 8px 0 8px;

        &:first-letter {
          color: $primaryColor;
        }
      }

      .headerTitleSticky {
        color: $textColor;
      }
    }
  }
  .imgContainer {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding-top: 180px;

    img {
      position: relative;
      height: 97px;
      width: 97px;
    }
  }

  .headerSticky {
    background-color: #fff;
    -moz-box-shadow: 0 2px 5px rgba(16, 16, 16, .07);
    -webkit-box-shadow: 0 2px 5px rgba(16, 16, 16, .07);
    box-shadow: 0 2px 5px rgba(16, 16, 16, .07);
    height: 70px;
    border-bottom: 0;
    padding: 0;
  }
}





