@import "src/common/Styles/sass/variables";
@import "src/common/Styles/sass/mixins";

.background {
  position: relative;
  width: 100%;
  height: 650px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #111;

  .header {
    background-color: transparent;
    transition: 0.2s;

    width: 100%;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 80px;
    display: flex;
    align-items: center;

    .headerContainer {
      height: 25%;
      width: 82%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      -webkit-box-align: center !important;

      .headerTitle {
        color: $bgColor;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: -0.04em;
        line-height: 1;
        text-transform: capitalize;
        margin: 8px 0 8px;

        &:first-letter {
          color: $primaryColor;
        }
      }

      .headerTitleSticky {
        color: $textColor;
      }
    }
  }

  .nameSurnameBlock {
    padding-top: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center !important;

    h1 {
      color: #fff;
      font-family: "Poppins", sans-serif;
      text-transform: capitalize;
      font-weight: 600;
      line-height: 62px;
      font-size: 41px;
      margin: 0 0 20px;
      letter-spacing: -1.5px;
    }

    span {
      color: #dc3545;
      font-family: "Poppins", sans-serif;
      text-transform: capitalize;
      font-weight: 600;
      line-height: 62px;
      font-size: 41px;
      margin: 0 0 20px;
      letter-spacing: -1.5px;
    }

    ul li {
      display: inline-block;
    }

    ul li i {
      color: #fff;
      display: block;
      margin: 0 10px;
    }

    ul li i:hover {color: #dc3545;}
  }

  .imgContainer {
    display: flex;
    justify-content: space-around;
    padding-top: 33px;


    img {
      height: 97px;
      width: 97px;
    }

    .eatBlock {
      @include headerSvgStyle("eat();")
    }

    .sleepBlock {
      @include headerSvgStyle("sleep();")
    }

    .codeBlock {
      @include headerSvgStyle("code();")
    }

    .repeatBlock {
      @include headerSvgStyle("repeat();")
    }
  }


  .headerSticky {
    background-color: #fff;
    -moz-box-shadow: 0 2px 5px rgba(16, 16, 16, .07);
    -webkit-box-shadow: 0 2px 5px rgba(16, 16, 16, .07);
    box-shadow: 0 2px 5px rgba(16, 16, 16, .07);
    height: 70px;
    border-bottom: 0;
    padding: 0;
  }
}





