@import "../../common/Styles/sass/variables";
@import "../../common/Styles/sass/mixins";

.nav {
  width: 505px;
  display: flex;
  justify-content: space-between;

  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 8px 0 8px;

  @media screen and (min-width: 992px) {
    flex-wrap: nowrap;
    -webkit-box-flex: 0;
  }

  .link_active {
    color: $primaryColor;
  }

  a {
    display: block;
    position: relative;
    vertical-align: middle;

    letter-spacing: 0;
    padding: 0 10px;
    z-index: 1;
    @include textStyle(600, 15px, $bgColor, 70px);

    &::before {
      content: "";
      background-color: $primaryColor;

      top: 50%;
      margin-top: -1px;

      height: 3px;
      width: 0;
      right: 0;
      position: absolute;

      -webkit-transition: all .3s ease 0s;
      -o-transition: all .3s ease 0s;
      transition: all .3s ease 0s;

    }

    &:hover {
      color: $primaryColor;
    }

    &:hover::before {
      width: 100%;
      left: 0;
      right: auto
    }

    a:focus:active {
      background: none;
      color: $primaryColor;
    }
  }
}

.nav_sticky {
  a {
    color: $textColor;
  }
}


