@import "src/common/Styles/sass/variables";

.skill {
  width: 250px;
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h3 {
    margin-top: 8px;
    font-size: 15px;
    color: $textColor;
  }

  .iconBlock {
    height: 60px;
    width: 60px;
    background-color: #fff;
    .icon {
      height: inherit;
      width: inherit;
    }
  }
}

