@import "src/common/Styles/sass/variables";

.skills_block {
  background-color: $bgSecondColor;
  border-bottom: 2px solid #eee;

  padding: 100px 0;

  .skills_container {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

      p{
          margin: 15px 5px;
      }
  }

  .skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    margin-top: 30px;

    @media screen and (min-width: 629px) {
      justify-content: space-between;
    }
  }
}
