.skillsBlock {
  background-color: #fff;

  .skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

      p{
          margin: 15px 0 0px;
      }
  }

  .skills {
    border: 1px solid;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    margin-top: 30px;

    @media screen and (min-width: 629px) {
      justify-content: space-between;
    }
  }
}
