.skillsBlock {
    background-color: #b9efb9;
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #cccccc;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 629px) {
    .skills {
        justify-content: center;
        align-content: center;
    }
}