@import "src/common/Styles/sass/variables";
@import "src/common/Styles/sass/mixins";

.mainBlock {
  min-height: 100vh;
  background-color: $bgColor;
  padding-top: 80px;

  .text {
    max-width: 50%;
    position: relative;


    background-color: $bgColor;

    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    .btnCV {
      @include btnStyle;
      margin-top: 90px;
    }
    h4 {
      font-size: 15px;
      color: $primaryColor;
    }

    h2 {
      font-size: 30px;
      line-height: 42px;
      text-transform: capitalize;
      color: $textColor;
      margin: 0 0 8px;
      font-weight: 600;
      letter-spacing: -0.04em;

      span {
        color: $primaryColor;
        font-family: 'Poppins', sans-serif;
      }
    }

    p {
      margin: 20px 0;
      font-size: 15px;
      height: 100px;
    }
  }

  .photo {
    width: 430px;
    background-color: $bgColor;
    margin-top: 20px;

    .manPhoto {
      height: inherit;
      width: inherit;
    }
  }
}


