@import "src/common/Styles/sass/variables";
@import "src/common/Styles/sass/mixins";

.mainBlock {
  min-height: 100%;
  background-color: $bgColor;
  position: relative;

  .text {
    max-width: 50%;
    position: relative;


    background-color: $bgColor;

    min-height: 1px;
    padding: 15px 15px;

    .btnCV {
      @include btnStyle;
      margin-top: 90px;
      padding: 0 20px;
      line-height: 38px;
    }
    h4 {
      font-size: 15px;
      color: $primaryColor;
    }

    h2 {
      font-size: 30px;
      line-height: 42px;
      text-transform: capitalize;
      color: $textColor;
      margin: 0 0 8px;
      font-weight: 600;
      letter-spacing: -0.04em;

      span {
        color: $primaryColor;
        font-family: 'Poppins', sans-serif;
      }
    }

    p {
      margin: 20px 0;
      font-size: 15px;
      height: 100px;
    }
  }

  .photo {
    background-image: url("../assets/image/photo_2021-10-09_16-12-59-removebg.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 77%;
    position: absolute;
    width: 570px;
    height: 667px;
    right: 40px;
    bottom: 0;
  }
}


