* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333;
}

h3, h4 {
    margin: 0 0 10px;
    font-weight: 600;
    line-height: 1.4;
    color: #022144;
    letter-spacing: -0.01em;
}
