@import 'src/common/Styles/sass/variables.scss';

.footerBlock {
  background-color: #111;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  .footerContainer {
    height: 25%;
    width: 82%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }

    .description {
      font-size: 12px;
      color: #ddd;
      text-transform: uppercase;
      text-align: center !important;
      margin: 8px 0 8px;

      @media screen and (min-width: 992px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }
    }

    .footerTitle {
      color: $bgColor;
      font-size: 30px;
      font-weight: 600;
      letter-spacing: -0.04em;
      line-height: 1;
      text-transform: capitalize;
      margin: 8px 0 8px;

      @media screen and (min-width: 992px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }

      &:first-letter {
        color: $primaryColor;
      }
    }

    .contacts {
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      margin: 8px 0 8px;

      @media screen and (min-width: 992px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
      }

      .footerSocial {
        display: flex;
        justify-content: space-evenly;

        .socialsIcons {
          color: $bgColor;
          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
  }
}





