.footerBlock{
    background-color: #fa3498;
}

.footerContainer{
    border: 1px solid #000000;
    height: 25%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.title {
    background-color: #cccccc;
    font-size: 30px;
    margin: 15px;
    font-style: italic;
    font-family: cursive;
}

.contacts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
}