@import 'src/common/Styles/sass/variables.scss';

.footerBlock {
  background-color: $bgSecondColor;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  .footerContainer {
    border: 1px solid #000000;
    height: 25%;
    width: 82%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    .contacts {
      margin-top: 30px;
      width: 100%;

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}





